@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

$dark: #000;
$orange: #f16739;
$white: #fff;
$yellow: #fdba12;

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

.orange-btn {
  background: $orange;
  color: #fff !important;
  border: 2px solid $orange;
  border-radius: 20px;
  padding: 7px 25px;
  &:hover {
    background: transparent;
  }
}
a:hover {
  text-decoration: none !important;
}
.mb0 {
  margin-bottom: 0px;
}
.banner-sec {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  .layer {
    padding: 230px 15px 35px 15px;
    background: rgba($dark, 0.5);
  }
  h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
  }
  p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.3px;
  }
  .banner-btn {
    @extend .orange-btn;
    margin-top: 50px;
  }
  a.scroll {
    margin-top: 100px;
    display: block;
  }
  .bounce {
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    70% {
      transform: translateY(0%);
    }
    80% {
      transform: translateY(-15%);
    }
    90% {
      transform: translateY(0%);
    }
    95% {
      transform: translateY(-7%);
    }
    97% {
      transform: translateY(0%);
    }
    99% {
      transform: translateY(-3%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

nav.navbar {
  position: fixed;
  background: transparent;
  width: 100%;
  top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #9c9595;
  z-index: 999;

  .nav-link {
    padding: 20px 18px 25px 18px !important;
    border-bottom: 2px solid transparent;
    color: #b3b3b3 !important;

    &:hover {
      border-bottom: 2px solid $orange;
      color: #fff !important;
    }
  }
  .active .nav-link {
    border-bottom: 2px solid $orange;
    color: #fff !important;
  }
}
.sticky {
  background: #333333 !important;
  @include box-shadow(0px, 0px, 10px, #333);
}
//banefit sec started
.sec-pd {
  padding: 40px 0px 65px;
}

.section-hd {
  font-size: 40px;
  font-weight: 600;
}
.hd-btm-txt {
  padding: 10px 230px;
  font-weight: 300;
  letter-spacing: 0.3px;
}
hr.hd-brdr {
  border-top: 2px solid $orange;
  width: 7%;
  margin-top: 2px;
}
.benifit-box {
  padding: 10px 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  h4 {
    font-size: 17px;
    color: #444444;
    font-weight: 600;
    margin-top: 15px;
  }
  p {
    color: #666666;
    font-size: 15px;
    margin-bottom: 45px;
  }
  &:hover {
    border: 1px solid $orange;
    transition: 0.9s;
    cursor: default;
    img {
      transform: rotate(360deg);
      transition: 0.9s;
    }
  }
}
// Facility Sec started
.facilities-sec {
  background: #333333;
  color: $white;
  .fclty-holdr {
    display: flex;
    margin-top: 35px;
    img {
      margin-right: 20px;
    }
    p {
      margin: 5px 0 5px 0;
      color: #cccccc;
      font-size: 15px;
      font-weight: 300;
    }
    &:hover {
      cursor: default;
      p {
        color: #fff;
      }
      img {
        transform: rotateY(360deg);
        transition: 0.9s;
      }
    }
  }
}

// gallery sec started
.gallery-sec {
  padding: 40px 0px 30px;
}
.mobile {
  display: none;
}

/*///////////// gallery CSS /////////////*/

.-fx-image-gal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}
.-fx-gal-item {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.-fx-gal-item a {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.-fx-gal-image-thumb img {
  width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  min-height: 315px;
}

.-fx-gal-image-thumb:hover img {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.5);
  transition: all 0.5s ease;
}

.-fx-image-gal {
  flex-direction: row;
  flex-wrap: wrap;
}
.-fx-gal-item {
  width: 33.3%;
}

// pricing section start
.pricing-sec {
  background-color: $yellow;

  .price-hldr-div {
    background: #ffe8bb;
    padding: 54px 22px 10px;
    border-radius: 145px;
    width: 44%;
    min-height: 230px;
    margin: 0 auto 30px;

    h1 {
      font-size: 65px;
      font-weight: 700;
      margin-bottom: 0;
      i {
        font-size: 20px;
        position: relative;
        top: -30px;
        margin-right: 7px;
      }
    }
    p {
      font-size: 16px;
      color: $dark;
      margin-bottom: 0px;
    }
    p.small-txt {
      font-size: 12px !important;
      color: #808080;
    }
  }
  .book-btn {
    @extend .orange-btn;
  }
}
.black-clr {
  color: #000;
}
.white-clr {
  color: #fff;
}

// contact-sec started
small {
  color: #e74c3c;
  position: relative;
  bottom: 0;
  left: 0;
  display: none;
  top: -25px;
  font-size: 12px !important;
}
.error small {
  display: block;
}
.contactus-sec {
  padding-bottom: 0px !important;
  hr {
    width: 16%;
  }
  .cntnt-hldr {
    margin-top: 30px;
  }
  p {
    margin-bottom: 0;
  }
  p.addrs-hd {
    font-size: 17px;
    color: #4d4d4d;
    font-weight: 600;
  }
  p.addrs {
    font-size: 14px;
    margin-bottom: 30px;
    color: #4d4d4d;
  }
  p.mob a {
    color: #4d4d4d;
  }
  p.email {
    margin-top: 25px;
    a {
      color: $orange;
    }
  }
  .form-sec {
    input {
      margin-bottom: 25px;
      border: 1px solid transparent;
      border-bottom: 1px solid #ccc;
      border-radius: 4;

      &:focus {
        box-shadow: none;
        border: 1px solid $orange;
        border-radius: 20px;
        transition: 0.7s;
      }
    }
    .form-btn {
      @extend .orange-btn;
      margin-top: 20px;
      padding: 7px 50px;

      &:hover {
        color: $orange !important;
      }
    }
    .error_message {
      padding: 0;
      margin-bottom: 25px;
      background: #fe8b8e;
      text-align: center;
      font-size: 13px;
      transition: all 0.5s ease;
    }
  }
  .map {
    margin-top: 50px;
    border-top: 2px solid #ccc;
  }
}

// Footer Started
.top-footer {
  background: #333333;
  padding: 30px 0px 65px;
  color: #cccccc;
  .sociel-icon {
    margin-right: 15px;
  }
  a.footer-link {
    font-size: 14px;
    color: #ccc;
    display: block;
    margin-bottom: 10px;
  }
}
.btm-footer {
  background: $dark;
  color: #808080;
  padding-top: 15px;
}

// ---------- Media Query Started --------------------
@media (min-width: 1400px) {
  .-fx-gal-image-thumb img {
    max-height: 350px;
  }
}
@media (max-width: 1199px) {
  .pricing-sec .price-hldr-div {
    width: 55%;
    min-height: 240px;
  }
}
@media (max-width: 1024px) {
  .banner-sec .layer {
    padding: 150px 15px 35px 15px;
  }
  .benifit-box {
    padding: 10px 15px;
  }
  .-fx-gal-image-thumb img {
    min-height: 240px;
  }
}
@media (max-width: 991px) {
  .pricing-sec .price-hldr-div {
    width: 62%;
    min-height: 197px;
    h1 {
      font-size: 37px;
      i {
        font-size: 15px;
        position: relative;
        top: -13px;
      }
    }
  }
  .hd-btm-txt {
    padding: 10px 0;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .collapse.show {
    background: #333;
  }
  nav.navbar .nav-link {
    padding: 10px 18px 10px 18px !important;
  }
  .navbar-light .navbar-toggler {
    border-color: #ccc !important;
  }
  .banner-sec {
    .layer {
      padding: 95px 15px 35px 15px;
    }
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 15px;
    }
    .banner-btn {
      margin-top: 12px;
    }
    a.scroll {
      margin-top: 30px;
    }
  }

  .section-hd {
    font-size: 28px;
  }
  .benifit-box p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .facilities-sec {
    .fclty-holdr {
      display: block;
      margin-top: 18px;
      text-align: center;
      img {
        margin-right: 0;
      }
    }
  }
  .sec-pd {
    padding: 30px 0px 35px;
  }
  .pricing-sec .price-hldr-div {
    width: 45%;
    min-height: 210px;
  }
  .contactus-sec {
    p.email a {
      display: block;
      margin-bottom: 30px;
    }
    .cntnt-hldr {
      margin-top: 10px;
    }
    p.addrs {
      font-size: 14px;
      margin-bottom: 15px;
    }
    .map {
      margin-top: 35px;
      iframe {
        height: 250px;
      }
    }
  }
  footer {
    .col-md-4.text-right {
      text-align: left !important;
    }
    .sociel-holder {
      margin-bottom: 20px;
    }
    .top-footer {
      padding: 20px 0px 20px;
    }
    .btm-footer.text-center {
      text-align: left !important;
    }
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    .active {
      opacity: 1;
    }
  }
  .sm-no-pd {
    padding: 0 !important;
  }
  .column {
    float: left;
    width: 16.66%;
    margin-top: 10px;
    img {
      min-height: 60px;
    }
  }
  .demo {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
@media (max-width: 575px) {
  .pricing-sec .price-hldr-div {
    width: 42%;
    min-height: 220px;
  }
}
@media (max-width: 420px) {
  .pricing-sec .price-hldr-div {
    width: 62%;
    min-height: 230px;
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 50px;
    }
  }
}
@media (max-width: 375px) {
  .pricing-sec .price-hldr-div {
    width: 66%;
  }
}
@media (max-width: 320px) {
  .pricing-sec .price-hldr-div {
    width: 80%;
  }
}
